<link rel="stylesheet" type="text/css" href="/description.css">

<div class="navbar">
<span id="title">{{title}}</span>
<div>
<a href = "/" >Home</a>
</div></div>
<div>
{{!--{{#if anyArray}}--}}
<div class="poster">
{{#if Poster}}
{{#ifvalid Poster}}
<img src="{{Poster}}"><br>
{{/ifvalid}}
{{/if}}
</div>
<div class="container">
	{{#each data}}
		{{#if this}}
			{{#ifvalid this}}
				<div>
					{{@key}}  :  {{this}}
				</div>
			{{/ifvalid}}
		{{/if}}
	{{/each}}
	<div>To know more &nbsp&nbsp<a target="blank" href="https://www.google.co.in/search?q={{data.Title}}">Click here</a></div>
</div>
{{#if Ratings}}
<div class="ratings">
	<div><strong>Ratings:</strong></div>
	<br>
	<div class="grid">
		{{#each Ratings}}
			<div>{{this.Source}}</div> 
			<div>{{this.Value}}</div>
		{{/each}}
	</div>
</div>
{{/if}}
{{!--{{/if}}--}}
</div>