<link rel="stylesheet" type="text/css" href="search.css">
<div class="navbar">
<span id="title">{{title}}</span>
<div>
<a href = "/" >Home</a>
</div></div>
<div>
<div class = "container">
	{{!--{{#if anyArray}}--}}

	{{#each data}}
	{{#each this}}
	<div>
		{{#ifvalid Poster}}
		<img src="{{Poster}}"><br>
		{{/ifvalid}}
		Title: <a href="/search/{{Title}}">{{Title}}</a><br>
		Year: {{Year}}<br>
		Type: {{Type}}<br>
		
		<br>
	</div>
	{{/each}}
	{{/each}}
	{{!--{{/if}}--}}
</div>