<link rel="stylesheet" type="text/css" href="/search.css">
<div class="navbar">
	<span id="title">{{title}}</span>
	<div>
	<a href = "/" >Home</a>
	</div></div>
<div>
{{#ifvalid data.Response}}
	Sorry :(<br>
	Movie not Found! Please try other keywords or Search in the web below: 
	<script async src="https://cse.google.com/cse.js?cx=002210161127150476775:jxnx4i2huwl"></script>
<div class="gcse-search"></div>
{{/ifvalid}}
<div class = "container">
	{{!--{{#if anyArray}}--}}

	{{#each data}}
	{{#each this}}
	<div>
		{{#ifvalid Poster}}
		<a href="/search/{{Title}}/{{imdbID}}"><img src="{{Poster}}"></a><br>
		{{/ifvalid}}
		Title: <a href="/search/{{Title}}/{{imdbID}}">{{Title}}</a><br>
		Year: {{Year}}<br>
		Type: {{Type}}<br>
		
		<br>
	</div>
	{{/each}}
	{{/each}}
	{{!--{{/if}}--}}
</div>